
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
    font-family: Helvetica Light;
}

.title{
    margin: 0 40%;

}


.g_pic {
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover; 
}


h2 {
    text-align: center;
    margin: 1em 0;
}


.genre_container {
    position: relative;
    max-width: 100%; 
    margin: 2em auto;
    padding: 0 1em; 
    overflow: visible;
}


.genre_container > a {
    position: absolute;
    top: -7%;
    right: 10%;
    text-decoration: none;
    color: #000; 
    font-weight: light;
    font-size: 1em;
}


.two_products {
    display: flex;
    gap: 2em; 
    justify-content: center; 
}


.product {
    flex: 1 1 300px; 
    max-width: 300px; 
    text-align: start;
}


.product img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product p {
    margin: 0.5em 0;
}

.product h4 {
    margin: 0.5em 0;
    font-size: 0.9em;
    font-weight: lighter;
}

.product a {
    text-decoration: none;
    font-size: 0.9em;
    color: #000000; 
    border: black 1px solid;
    padding: 0.5em;
}


.two_pics {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    margin: 2em 1em; 
}


.two_pics img {
    width: 48%; 
    height: auto;
    display: block;
}



