body{
    padding: 0;
    margin: 0;
}

.g_pic{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: contain;

}



h1{
    text-align: center;
}

h2{
text-align: center;
}

.two_products{
    display: flex;
    gap: 10em;
    margin: 0 10em;
}

.two_pics{
    display: flex;
    gap: 10em;
    justify-content: space-between;
    margin: 0 10em;
}

.product img{
    width: 300%;
}

.genre_container {
    position: relative; /* Makes the container the reference point for positioning */
  }
  
  .genre_container > a {
    position: absolute; /* Allows precise positioning */
    top: 0; /* Align it to the top of the container */
    right: 0; /* Align it to the right side */
  }
